body {
  background: var(--black) url(./../../images/background.png) no-repeat 50% 0 / contain;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 1.25em 1.125em;
}