.footer {
  color: var(--gray--300);
  font-size: 0.875rem;
  line-height: 1.5;
  border-top: 0.285em solid var(--gray--800);
  padding-top: 2.857em;
  padding-bottom: 2.857em;
  padding-left: 1.78em;
  padding-right: 1.78em;
}

.footer-inner {
  display: flex;
  flex-flow: column nowrap;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

[class*='footer-wrapper'] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  width: 100%;
}

.footer-wrapper-1 {
  padding-bottom: 1.857em;

  & p {
    font-size: 1.428rem;
    font-weight: 700;
    letter-spacing: -0.0005em;
    & em {
      display: block;
    }
  }
}
.footer-wrapper-2 {
  padding-bottom: 3.57em;
}
.guide {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  row-gap: 0.71em;
  letter-spacing: -0.0005em;
}
.guide li {
  flex: 1 1 40%;
}
.footer-wrapper-3 {
  padding-bottom: 2.14em;
}

.footer-wrapper-4 {
  flex-flow: column nowrap;
}
.footer-logo {
  margin-bottom: 0.71em;
  font-size: 1.25rem;
  font-weight: 700;
}
.address {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-style: normal;
}



@media (min-width: 768px) {
  .footer-inner {
    max-width: 1280px;
  }
  .footer-wrapper-1 {
    & p em {display: inline-block;}
  }
  .guide {
    width: 100%;
    max-width: 1000px;
    font-size: 1rem;
    row-gap: 1em;
  }
  .guide li {
    flex: 0 0 25%;
  }
  .address {
    font-size: 1rem;
    font-weight: 700;
  }
}