<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" type="text/css">
    <link rel="stylesheet" href="./../../css/style.css" />
</head>
<body>
  <div class="selectbox">
    <select aria-label="언어 선택">
      <option value="korean">한국어</option>
      <option value="english">영어</option>
    </select>
    <button type="button">로그인</button>
  </div>
</body>
</html>